# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Secret environment variables
.env

# Files generated during tests
uploads/
output/
pdf-signer/test_files/

# Personal VS Code settings
.vscode/

# Personal signature image
assets/*
!assets/.gitkeep